body {
  background-color: #FF00FF;
  color: #8B0000;
  font-family: Times,serif;}

h1 {
  background-color: #0000CD;
  color: #FFB6C1;
  font-family: Arial,serif;}
main{
  background-color: #FF00FF;
  color: #FFDAB9;
  font-family: Arial, serif;}
