body {
  background-color: #B2A2E1;
  color: rgb(247,202,201);
  font-family: Arial,serif;}

h1 {
  background-color: #B2A2E1;
  color: hsla(256, 45%, 42%);
  font-family: Arial,sans-serif;}
