body {
  background-color: #A52A2A;
  color: #8B0000;
  font-family: Times,serif;}

h1 {
  background-color: #8B0000;
  color: #A52A2A;
  font-family: Arial,serif;}
main{
  background-color: #A52A2A;
  color: #8B00000;
  font-family: Arial, serif;}
